body {
	background-color: #f1f2f3;
}
.flip-card {
	perspective: 1000px;
	width: 300px;
	height: 200px;
	margin: 0 auto;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-front {
	background-color: #eee;
}

.flip-card-back {
	transform: rotateY(180deg);
	background-color: #fff;
}
